<footer>
	<div class="footer-top">
		<div class="footer-logo">
			<div class="footer-logo-element"><i class="ti ti-christmas-tree"></i> Forest</div>
		</div>
		<div class="footer-info">
			<div class="footer-info-boxes">
				<h3>O nas</h3>
				<a href="#">Historia</a>
				<a href="#">Parki</a>
				<a href="#">Opinie</a>
			</div>
			<div class="footer-info-boxes">
				<h3>Nasza firma</h3>
				<a href="#">Praca</a>
				<a href="#">Kadry</a>
				<a href="#">Zarząd</a>
			</div>
			<div class="footer-info-boxes">
				<h3>Dokumenty</h3>
				<a href="#">Wnioski</a>
				<a href="#">Rezerwacje</a>
			</div>
		</div>
	</div>
	<div class="footer-bottom">
		<p>&copy<span class="year"></span> Forest Group Company Ltd.</p>
	</div>
</footer>

@code {

}
