@page "/counter"

<section id="offer"
		 class="wrapper offer">
	<h2 class="section-title">oferta</h2>

	<p>Wybierz jedną z naszych wspaniałych ofert!</p>

	<div class="cards offer-page">
		<div class="card one">
			<h3>Demo</h3>
			<p class="price">$0</p>
			<ul class="card-list">
				<li><i class="ti ti-check"></i> opcja w pakiecie</li>
				<li><i class="ti ti-check"></i> opcja w pakiecie</li>
				<li><i class="ti ti-minus"></i> opcja poza pakietem</li>
				<li><i class="ti ti-minus"></i> opcja poza pakietem</li>
				<li><i class="ti ti-minus"></i> opcja poza pakietem</li>
			</ul>
			<button class="chose">Wybierz</button>
		</div>

		<div class="card two">
			<h3>Standard</h3>
			<p class="price">$99</p>
			<ul class="card-list">
				<li><i class="ti ti-check"></i> opcja w pakiecie</li>
				<li><i class="ti ti-check"></i> opcja w pakiecie</li>
				<li><i class="ti ti-check"></i> opcja w pakiecie</li>
				<li><i class="ti ti-minus"></i> opcja poza pakietem</li>
				<li><i class="ti ti-minus"></i> opcja poza pakietem</li>
			</ul>
			<button class="chose standard-btn">Wybierz</button>
		</div>

		<div class="card three">
			<h3>Premium</h3>
			<p class="price">$299</p>
			<ul class="card-list">
				<li><i class="ti ti-check"></i> opcja w pakiecie</li>
				<li><i class="ti ti-check"></i> opcja w pakiecie</li>
				<li><i class="ti ti-check"></i> opcja w pakiecie</li>
				<li><i class="ti ti-check"></i> opcja w pakiecie</li>
				<li><i class="ti ti-check"></i> opcja w pakiecie</li>
			</ul>
			<button class="chose">Wybierz</button>
		</div>
		<div class="card one">
			<h3>Demo</h3>
			<p class="price">$0</p>
			<ul class="card-list">
				<li><i class="ti ti-check"></i> opcja w pakiecie</li>
				<li><i class="ti ti-check"></i> opcja w pakiecie</li>
				<li><i class="ti ti-minus"></i> opcja poza pakietem</li>
				<li><i class="ti ti-minus"></i> opcja poza pakietem</li>
				<li><i class="ti ti-minus"></i> opcja poza pakietem</li>
			</ul>
			<button class="chose">Wybierz</button>
		</div>
		<div class="card one">
			<h3>Demo</h3>
			<p class="price">$0</p>
			<ul class="card-list">
				<li><i class="ti ti-check"></i> opcja w pakiecie</li>
				<li><i class="ti ti-check"></i> opcja w pakiecie</li>
				<li><i class="ti ti-minus"></i> opcja poza pakietem</li>
				<li><i class="ti ti-minus"></i> opcja poza pakietem</li>
				<li><i class="ti ti-minus"></i> opcja poza pakietem</li>
			</ul>
			<button class="chose">Wybierz</button>
		</div>
		<div class="card one">
			<h3>Demo</h3>
			<p class="price">$0</p>
			<ul class="card-list">
				<li><i class="ti ti-check"></i> opcja w pakiecie</li>
				<li><i class="ti ti-check"></i> opcja w pakiecie</li>
				<li><i class="ti ti-minus"></i> opcja poza pakietem</li>
				<li><i class="ti ti-minus"></i> opcja poza pakietem</li>
				<li><i class="ti ti-minus"></i> opcja poza pakietem</li>
			</ul>
			<button class="chose">Wybierz</button>
		</div>
	</div>
</section>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
